*{
  box-sizing: border-box;
}
html,
body {
  background: #000;
  margin: 0;
  font-family: "alliance", mono, sans-serif;
}

*::selection {
  background: rgba(red, green, blue, alpha) !important;
}

.top-blank {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 60px;
  display: block;
  box-sizing: border-box;
  content: "";
  background-color: rgba(155, 155, 155, 0.155);
}

.myPageApp {
  margin: 0;
  overflow: hidden !important;
  height: 100%;
}

@media (min-width: 1100px) {
  #left-part {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 30%;
    overflow-y: scroll;
    /* Scroll barı gizle */
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #right-part {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 30%;
    width: 70%;
    overflow-y: scroll;
    /* Scroll barı gizle */
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

#left-part {
  background-color: crimson;
  text-align: center;
  height: calc(100% - 60px);
}

#left-part::-webkit-scrollbar {
  display: none;
}

#right-part {
  background-color: lightgreen;
  text-align: center;
  height: calc(100% - 60px);
}

#right-part::-webkit-scrollbar {
  display: none;
}

.img-frame {
  width: 80%;
  margin: 0 auto;
}

.nametag {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  /* margin-left: 5%; */
  /* margin-right: 5%; */
  background-color: snow;
  color: #000;
  border-radius: 40px;
  line-height: 18px;
  font-size: 24px;
  width: 315px;
  margin-bottom: 50px;
}

.border-p {
  border-radius: 30px;
  padding: 0.4rem;
}
.jelly-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.circle {
  border-radius: 50%;
}
.rainbow {
  padding: 1.4%;
  background: linear-gradient(
    280.16deg,
    #ffe580 -15.83%,
    #ff7571 -4.97%,
    #ff7270 15.69%,
    #ea5dad 32.43%,
    #c2a0fd 50.09%,
    #9867f0 67.47%,
    #3bf0e4 84.13%,
    #33ce43 105.13%,
    #b2f4b6 123.24%
  );
  /* display: inline-block; */
  background-position: 50% 50%;
  background-size: 400%;
  animation: gradient 16s ease infinite;
}

.mid-frame {
  margin-left: 15%;
  margin-right: 15%;
  border-left: 2px solid white;
  border-right: 2px solid white;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 10px;
  /* padding-left: 5px; */
  /* padding-right: 5px; */
  /* min-width: 600px; */
}

.btn-sm {
  cursor: pointer;
  width: 8rem !important;
  height: 3rem !important;
}

.fadeBox {
  z-index: 0;
  background: linear-gradient(
    280.16deg,
    #ffe580 -15.83%,
    #ff7571 -4.97%,
    #ff7270 15.69%,
    #ea5dad 32.43%,
    #c2a0fd 50.09%,
    #9867f0 67.47%,
    #3bf0e4 84.13%,
    #33ce43 105.13%,
    #b2f4b6 123.24%
  );
  background-position: 50% 50%;
  background-size: 500%;
  content: "";
  position: relative;
  animation: gradient 16s ease infinite;
}

.fixedSize {
  display: block;
}

.flexSize {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  width: auto !important;
}

.fadeBox::before {
  border-radius: 2px;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: #000;
}

.fadeBox:hover::before {
  animation: fadeTrans 0.3s ease;
  animation-fill-mode: forwards;
}

@keyframes fadeTrans {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-cont {
  color: #fff;
  margin: 0 auto;
  font-size: 20px;
  line-height: 2.6rem !important;
  padding: 0;
  text-align: center;
}

.text-cont::selection {
  background: rgb(red, green, blue, alpha);
}
.text-cont:hover {
  animation: paintItBlack 0.3s ease;
  animation-fill-mode: forwards;
}

@keyframes paintItBlack {
  0% {
    color: #fff;
  }
  100% {
    color: #000;
  }
}

.blc {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.blc li {
  display: inline-block;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav li {
  display: inline-block;
  text-align: left;
}

a {
  text-decoration: none;
}