* {
  box-sizing: border-box;
}
html,
body {
  background: #000;
  margin: 0;
  font-family: "alliance", mono, sans-serif;
}

*::selection {
  background: rgba(red, green, blue, alpha) !important;
}

a {
  text-decoration: none;
}

.top-blank {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 60px;
  display: block;
  box-sizing: border-box;
  content: "";
  background-color: rgba(155, 155, 155, 0.155);
}

#app {
  margin: 0;
  overflow: hidden !important;
  height: 100%;
}

#left-part {
  /* background-color: crimson; */
  text-align: center;
  height: calc(100% - 60px);
}

#left-part::-webkit-scrollbar {
  display: none;
}

#right-part {
  /* background-color: lightgreen; */
  text-align: center;
  height: calc(100% - 60px);
}

#right-part::-webkit-scrollbar {
  display: none;
}
.case {
  display: inherit;
}

.rainbow {
  background: linear-gradient(
    280.16deg,
    #ffe580 -15.83%,
    #ff7571 -4.97%,
    #ff7270 15.69%,
    #ea5dad 32.43%,
    #c2a0fd 50.09%,
    #9867f0 67.47%,
    #3bf0e4 84.13%,
    #33ce43 105.13%,
    #b2f4b6 123.24%
  );
  /* display: inline-block; */
  background-position: 50% 50%;
  background-size: 400%;
  animation: gradient 16s ease infinite;
}

.tin {
  padding: 1.4%;
}

.x-tin {
  padding: 2px;
}

.mid-frame {
  margin-left: 15%;
  margin-right: 15%;
  border-left: 2px solid white;
  border-right: 2px solid white;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 10px;
  /* padding-left: 5px; */
  /* padding-right: 5px; */
  /* min-width: 600px; */
}

.btn-sm {
  cursor: pointer;
  width: 8rem !important;
  height: 3rem !important;
}

.fadeBox {
  z-index: 0;
  background: linear-gradient(
    280.16deg,
    #ffe580 -15.83%,
    #ff7571 -4.97%,
    #ff7270 15.69%,
    #ea5dad 32.43%,
    #c2a0fd 50.09%,
    #9867f0 67.47%,
    #3bf0e4 84.13%,
    #33ce43 105.13%,
    #b2f4b6 123.24%
  );
  background-position: 50% 50%;
  background-size: 500%;
  content: "";
  position: relative;
  animation: gradient 16s ease infinite;
}

.fixedSize {
  display: block;
}

.flexSize {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  width: auto !important;
}

.fadeBox::before {
  border-radius: 2px;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: #000;
}

.fadeBox:hover::before {
  animation: fadeTrans 0.3s ease;
  animation-fill-mode: forwards;
}

.text-cont {
  color: #fff;
  margin: 0 auto;
  font-size: 20px;
  line-height: 2.6rem !important;
  padding: 0;
  text-align: center;
}

.text-cont::selection {
  background: rgb(red, green, blue, alpha);
}

.text-cont:hover {
  animation: paintItBlack 0.3s ease;
  animation-fill-mode: forwards;
}

.nametag {
  text-align: center;
  margin: 0 auto;
  padding: 8px;
  /* margin-left: 5%; */
  /* margin-right: 5%; */
  background-color: snow;
  color: #000;
  border-radius: 35px;
  line-height: 15px;
  font-size: 22px;
  width: 275px;
  margin-bottom: 20px;
}

.border-p {
  border-radius: 30px;
  padding: 0.4rem;
}

.img-frame {
  width: 75%;
  margin: 0 auto;
  max-width: 400px;
}

.jelly-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.circle {
  border-radius: 50%;
}
.desc-box {
  margin: 0;
  padding: 0;
  /* padding-bottom: 10px; */
}
.desc {
  border-radius: 20px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 15px;
}
.desc div {
  background-color: black !important;
  border-radius: 20px !important;
  color: snow;
  font-size: 13pt;
  text-align: justify;
  padding-top: 25px !important;
  padding-left: 15px !important;
  padding-right: 10px !important;
  padding-bottom: 5px !important;
}

@keyframes fadeTrans {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes paintItBlack {
  0% {
    color: #fff;
  }
  100% {
    color: #000;
  }
}

@media (max-width: 1200px) {
  .img-frame {
    padding-top: 20px !important;
    height: 400px !important;
    margin: 0 !important;
    margin-left: 40px !important;
    margin-right: 20px !important;
    max-width: 320px !important;
  }

  .case {
    display: inline-flex !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .desc-box {
    position: relative;
    margin: 0;
  }
  .desc {
    position: absolute;
    min-width: 450px;
    /* height: 73%; */
    margin-top: 20px !important;
    height: 340px;
    overflow-y: hidden;

    width: auto;
    right: 10px;
    left: 340px;
  }
  .desc div {
    content: "";
    height: 100% !important;
    padding-top: 25px !important;
    padding-left: 14px !important;
    padding-right: 14px !important;
  }
}

@media (min-width: 1200px) {
  #left-part {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 32%;
    overflow-y: scroll;
    /* Scroll barı gizle */
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #right-part {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 32%;
    width: 68%;
    overflow-y: scroll;
    /* Scroll barı gizle */
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Right Side CSS*/

.text-gradient {
  letter-spacing: -0.03em;
  background: linear-gradient(
    270.97deg,
    #ffe580 -21.36%,
    #ff7571 -2.45%,
    #ea5dad 26.84%,
    #c2a0fd 64.15%,
    #3bf0e4 108.29%,
    #b2f4b6 159.03%
  );
  background-position: 50% 50%;
  background-size: 150%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jh1 {
  display: block;
  font-family: "alliance",mono,sans-serif !important;
  font-size: 75px !important;
  line-height: 1.1;
  font-weight: 500 !important;
  letter-spacing: -0.03em;
  margin-bottom: 24px;
}

.r-div {
  margin: 10px !important;
  text-align: center;
}
