@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  box-sizing: border-box;
}
html,
body {
  background: #000;
  margin: 0;
  font-family: "alliance", mono, sans-serif;
}

*::selection {
  background: rgba(red, green, blue, alpha) !important;
}

a {
  text-decoration: none;
}

.top-blank {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 60px;
  display: block;
  box-sizing: border-box;
  content: "";
  background-color: rgba(155, 155, 155, 0.155);
}

#app {
  margin: 0;
  overflow: hidden !important;
  height: 100%;
}

#left-part {
  /* background-color: crimson; */
  text-align: center;
  height: calc(100% - 60px);
}

#left-part::-webkit-scrollbar {
  display: none;
}

#right-part {
  /* background-color: lightgreen; */
  text-align: center;
  height: calc(100% - 60px);
}

#right-part::-webkit-scrollbar {
  display: none;
}
.case {
  display: inherit;
}

.rainbow {
  background: linear-gradient(
    280.16deg,
    #ffe580 -15.83%,
    #ff7571 -4.97%,
    #ff7270 15.69%,
    #ea5dad 32.43%,
    #c2a0fd 50.09%,
    #9867f0 67.47%,
    #3bf0e4 84.13%,
    #33ce43 105.13%,
    #b2f4b6 123.24%
  );
  /* display: inline-block; */
  background-position: 50% 50%;
  background-size: 400%;
  animation: gradient 16s ease infinite;
}

.tin {
  padding: 1.4%;
}

.x-tin {
  padding: 2px;
}

.master {
  border-radius: 18px;
  padding: 2px;
}

.master div {
  text-align: justify;
  border-radius: 18px;
  padding: 20px;
  background-color: black;
  color: snow;
}
.mid-frame {
  margin-left: 15%;
  margin-right: 15%;
  border-left: 2px solid white;
  border-right: 2px solid white;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 10px;
  /* padding-left: 5px; */
  /* padding-right: 5px; */
  /* min-width: 600px; */
}

.btn-sm {
  cursor: pointer;
  width: 8rem !important;
  height: 3rem !important;
}

.fadeBox {
  color: snow;
  z-index: 0;
  background: linear-gradient(
    280.16deg,
    #ffe580 -15.83%,
    #ff7571 -4.97%,
    #ff7270 15.69%,
    #ea5dad 32.43%,
    #c2a0fd 50.09%,
    #9867f0 67.47%,
    #3bf0e4 84.13%,
    #33ce43 105.13%,
    #b2f4b6 123.24%
  );
  background-position: 50% 50%;
  background-size: 500%;
  content: "";
  position: relative;
  animation: gradient 16s ease infinite;
}

.fixedSize {
  display: block;
}

.flexSize {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  width: auto !important;
}

.fadeBox::before {
  border-radius: 4px;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background: #000;
}

.fadeBox:hover::before {
  animation: fadeTrans 0.3s ease;
  animation-fill-mode: forwards;
}

.text-cont {
  height: 60px;
  color: snow;
  font-weight: bold;
  margin: 0 auto;
  font-size: 20px;
  line-height: 60px !important;
  padding: 0;
  padding-left: 20px;
  text-align: left;
}

.text-cont::selection {
  background: rgb(red, green, blue, alpha);
}

.text-cont:hover {
  animation: paintItBlack 0.3s ease;
  animation-fill-mode: forwards;
}

.nametag {
  text-align: center;
  margin: 0 auto;
  padding: 8px;
  /* margin-left: 5%; */
  /* margin-right: 5%; */
  background-color: snow;
  color: #000;
  border-radius: 35px;
  line-height: 15px;
  font-size: 22px;
  width: 275px;
  margin-bottom: 20px;
}

.border-p {
  border-radius: 30px;
  padding: 0.4rem;
}

.img-frame {
  width: 75%;
  margin: 0 auto;
  max-width: 400px;
}

.jelly-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.circle {
  border-radius: 50%;
}
.desc-box {
  margin: 0;
  padding: 0;
  /* padding-bottom: 10px; */
}
.desc {
  border-radius: 20px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 15px;
}
.desc div {
  background-color: black !important;
  border-radius: 20px !important;
  color: snow;
  font-size: 13pt;
  text-align: justify;
  padding-top: 25px !important;
  padding-left: 15px !important;
  padding-right: 10px !important;
  padding-bottom: 5px !important;
}

@keyframes fadeTrans {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes paintItBlack {
  0% {
    color: #fff;
  }
  100% {
    color: #000;
  }
}

@media only screen and (max-width: 1200px) {
  .img-frame {
    padding-top: 20px !important;
    height: 400px !important;
    margin: 0 !important;
    margin-left: 40px !important;
    margin-right: 20px !important;
    max-width: 320px !important;
  }

  .case {
    display: inline-flex !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .desc-box {
    position: relative;
    margin: 0;
  }
  .desc {
    /* position: absolute; */
    min-width: 450px;
    margin-top: 20px !important;
    height: 340px;
    overflow-y: hidden;
    /* width: auto; */
    /* right: 10px; */
    /* left: 340px; */
  }
  .desc div {
    content: "";
    height: 100% !important;
    padding-top: 25px !important;
    padding-left: 14px !important;
    padding-right: 14px !important;
  }
}

@media only screen and (min-width: 1200px) {
  #left-part {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 32%;
    overflow-y: scroll;
    /* Scroll barı gizle */
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #right-part {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 32%;
    width: 68%;
    overflow-y: scroll;
    /* Scroll barı gizle */
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Right Side CSS*/

.text-gradient {
  letter-spacing: -0.03em;
  background: linear-gradient(
    270.97deg,
    #ffe580 -21.36%,
    #ff7571 -2.45%,
    #ea5dad 26.84%,
    #c2a0fd 64.15%,
    #3bf0e4 108.29%,
    #b2f4b6 159.03%
  );
  background-position: 50% 50%;
  background-size: 150%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-blue {
  background: linear-gradient(89.46deg, #2188ff 0.87%, #804eda 75.12%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-purple {
  background: linear-gradient(87.54deg, #9867f0 -6.8%, #ed4e50 84.14%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-red {
  background: linear-gradient(
    53.13deg,
    #ffd33d 0%,
    #fb8532 19.02%,
    #ea4a5a 37.19%,
    #8a63d2 56.92%,
    #2188ff 79.93%,
    #34d058 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-pink {
  background: linear-gradient(
    92.05deg,
    #bca1f7 12.09%,
    #e577b4 42.58%,
    #ff7170 84.96%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-green {
  background: linear-gradient(
    92.05deg,
    #00f870 22.09%,
    #24e997 32.58%,
    #70ffe7 84.96%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jh1 {
  display: block;
  font-family: "alliance", mono, sans-serif !important;
  font-size: 70px !important;
  line-height: 1.4;
  font-weight: 500 !important;
  letter-spacing: -0.03em;
  margin-bottom: 24px;
}

.r-div {
  margin: 10px !important;
  text-align: center;
}

#easter-egg {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

/*Containers*/
.accordion {
  cursor: pointer;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s ease;
}
.accordion.active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.panel {
  color: snow;
  padding: 0px 18px;
  margin-bottom: 25px;
  background-color: rgba(200, 200, 200, 0.041);
  max-height: 0;
  overflow: hidden;
  border: 2px solid snow;
  border-top: none;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  transition: max-height 0.5s ease-out;
}
.panel div {
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.panel.hide {
  border: solid 2px transparent;
  animation: swapborder 0.75s ease 1;
  /* border: 1px solid black; */
}

@keyframes swapborder {
  0% {
    border-top: none;
    border-color: snow;
  }
  100% {
    border-top: none;
    border-color: transparent;
  }
}

.f-right {
  float: right;
  margin-right: 20px;
}
.f-left {
  float: left;
  margin-left: 20px;
}

.fit-img {
  width: 90% !important;
  max-width: 1000px !important;
  /* height: 90%; */
  /* margin-left: 25px; */
  /* margin-right: 25px; */
  margin-top: 5px;
  margin-bottom: 10px;
  /* max-height: 400px; */
}
.jt {
  text-align: justify;
  /* max-width: 1000px; */
}
.tw {
  /* margin: 0 auto; */
  /* max-width: px !important; */
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 5% !important;
  margin-right: 5% !important;
  font-size: 17px !important;
}
.img-row {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.img-row::after {
  content: "";
  clear: both;
  /* display: table; */
}

.fill-img {
  width: 100% !important;
}

.img-col {
  float: left !important;
  /* padding: 1% !important; */
  max-width: 450px !important;
}

.ic2 {
  width: 50% !important;
}
.ic3 {
  width: 33.33% !important;
}
.ic4 {
  width: 25% !important;
}
