.center {
  margin: 0px auto;
  text-align: center;
  width: 100%;
}

.fakePhoto {
  margin: 0 auto;
  width: 100%;
  background-color: blueviolet;
  border: 1px solid yellow;
}

.fixbox {
  min-width: 180px;
}